@model IEnumerable<Post>


<h2>Posts cadastrados</h2>

<table class="table table-striped">
    <tr>
        <th>Título</th>
        <th>Resumo</th>
        <th>Categoria</th>
        <th>Autor</th>
        <th>Publicado?</th>
        <th>Ações</th>
    </tr>
    @foreach (Post post in Model)
    {
        <tr>
            <td>
                <a asp-area="Admin" asp-action="Editar" asp-route-id="@post.Id">
                    @post.Titulo
                </a>
            </td>
            <td>@post.Resumo</td>
            <td>
                <a asp-area="Admin" asp-controller="Post" asp-action="Categoria" asp-route-id="@post.Categoria">
                    @post.Categoria
                </a>
            </td>
            <td>@post.Autor?.Nome</td>
            <td>
                @if (post.Publicado)
                {
                    <span>
                        @post.DataPublicacao.Value.ToString("dd/MM/yyyy")
                    </span>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="Post" asp-action="Publicar" asp-route-id="@post.Id">
                        Publicar
                    </a>
                }
            </td>
            <td>
                <a asp-area="Admin" asp-action="Excluir" asp-route-id="@post.Id">
                    Excluir
                </a>
            </td>
        </tr>
    }
</table>